
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>



    <title> Upload Success</title>
    <meta name="viewport" content="width=device-width" />


</head>

<body style="background-image:url('/Content/Images/background.jpg');background-size:cover">

    <p> <br /> <br /> <br /> </p>

    <div class="container">

        <div class="row" style="margin-top:40px">
            <div class="col-md-12" style="text-align:center; background-position:center; background-repeat:no-repeat ;background-image:url(/Content/Images/bg2.png)"> <font size="48" style="margin-top:20px;color:black; "> <b> Upload Successfull </b> </font> </div>
        </div>


    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <div class"row">

        <div class=" text-center"> <h1 style="font-weight:bolder;margin-top:100px;color:black"> Your Gallery has been Updated :) </h1> </div>
    </div>





</body>
</html>

