@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">



<body style="background-image:url('/Content/Images/background.jpg');background-size:cover">

    
    


    <div class="container">

        <div class="row" style="margin-top:40px">
            <div class="col-md-12" style="text-align:center; background-position:center; background-repeat:no-repeat ;background-image:url(/Content/Images/bg2.png)"> <font size="48" style="margin-top:20px;color:black; "> <b> Add an Art </b> </font> </div>
        </div>





        @using (Html.BeginForm("Add", "AddGallery", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
        {


            <br /> <br />

            


            <div class="form-group " style="margin-top:50px; ">
                <label for="PUrl" class=" col-md-offset-3 col-md-2 control-label"> Image : </label>
                <input id="PUrl" name="PUrl" type="file" class=" col-md-10 form-control">
                @*<div onclick="f" id="P" class="btn btn-primary col-lg-1 col-md-2"> Preview</div>*@

                
             </div>




                <div class="form-group " style="margin-top:50px; ">

                    <label for="PaintingName" class=" col-md-offset-3 col-md-2 control-label"> Title : </label>
                    <input id="Pname" name="PaintingName" type="text" class="  col-md-10 form-control">
                </div>

                <div class="form-group " style="margin-top:10px; ">

                    <label for="Description" class=" col-md-offset-3 col-md-2 control-label"> Description : </label>
                    <input id="PDescription" name="Description" type="text" class="  col-md-10 form-control">
                </div>



                <div class="form-group " style="margin-top:10px; ">

                    <label for="Price" class=" col-md-offset-3 col-md-2 control-label"> Price($) : </label>
                    <input id="PPrice" name="Price" type="number" class="  col-md-10 form-control">
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button style="margin-top:10px" type="submit" id="check" class="btn btn-primary col-lg-push-11 col-md-4 "> Submit </button>
                    </div>

                </div>



                }





            </div>



            <br /> <br /> <br /> <br /><br /><br /><br />





    </body>
</html>
