@{
    ViewBag.Title = "UpdateUsers";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<html>
<body style="background-image:url('/Content/Images/background.jpg');background-size:cover">



    <div class="container">

        <div class="row" style="margin-top:40px">
            <div class="col-md-12" style="text-align:center; background-position:center; background-repeat:no-repeat ;background-image:url(/Content/Images/bg2.png)"> <font size="32" style="margin-top:20px;color:black; "> <b> Delete User </b> </font> </div>
        </div>

        <form action="/Admin/DeleteUser" method="post">


            <div class="form-group " style="margin-top:50px; ">

                <label for="t1" class=" col-md-offset-3 col-md-2 control-label"> Email : </label>
                <input name="t1" type="email" class="  col-md-10 form-control" placeholder="Username">
            </div>

            <div class="form-group " style="margin-top:10px; ">

                <label for="t2" class=" col-md-offset-3 col-md-2 control-label"> Password : </label>
                <input name="t2" type="password" class="  col-md-10 form-control" placeholder="*****">
            </div>

            <div class="form-group " style="margin-top:10px; ">

                <label for="t3" class=" col-md-offset-3 col-md-2 control-label"> First Name : </label>
                <input name="t3" type="text" class="  col-md-10 form-control" placeholder="Enter First Name">
            </div>


            <div class="form-group " style="margin-top:10px; ">

                <label for="t4" class=" col-md-offset-3 col-md-2 control-label"> Last Name : </label>
                <input name="t4" type="text" class="  col-md-10 form-control" placeholder="Enter Last Name">
            </div>



            <div class="form-group " style="margin-top:10px; ">

                <label for="t5" class=" col-md-offset-3 col-md-2 control-label"> Phone No : </label>
                <input name="t5" type="number" class="  col-md-10 form-control" placeholder="e.g 0900-78601">
            </div>

            <div class="form-group " style="margin-top:10px; ">

                <label for="t6" class=" col-md-offset-3 col-md-2 control-label"> City : </label>
                <input name="t6" type="text" class="  col-md-10 form-control" placeholder="e.g Lahore">
            </div>

            <button style="margin-top:10px" type="submit" class="btn-lg btn-primary col-md-offset-5 col-md-2">Search</button>



        </form>
    </div>
</body>
</html>