@{
    ViewBag.Title = "ViewAllUsers";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<html>
<body style="background-image:url('/Content/Images/background.jpg');background-size:cover">



    <div class="container">

        <div class="row" style="margin-top:40px">
            <div class="col-md-12" style="text-align:center; background-position:center; background-repeat:no-repeat ;background-image:url(/Content/Images/bg2.png)"> <font size="32" style="margin-top:20px;color:black; "> <b> View All Users </b> </font> </div>
        </div>
        </div>
        </body>
</html>