
<!DOCTYPE html>
<html lang="en">

<head>



    <title> SignUp</title>
    <meta name="viewport" content="width=device-width" />


</head>

<body style="background-image:url('/Content/Images/background.jpg');background-size:cover">


    <!-- <p> model.city </p> -->
    <div class="container">

        <div class="row" style="margin-top:40px">
            <div class="col-md-12" style="text-align:center; background-position:center; background-repeat:no-repeat ;background-image:url(/Content/Images/bg2.png)"> <font size="48" style="margin-top:20px;color:black; "> <b> SignUp </b> </font> </div>
        </div>

        <form id="theForm" class="form-horizontal" action="/SignUp/Sign" method="post">




            <div class="form-group " style="margin-top:50px; ">

                <label for="Username" class=" col-md-offset-3 col-md-2 control-label"> Email : </label>
                <input id="UserName" name="Username" type="email" class="  col-md-8 form-control">
                
                <div class="col-md-2" style="margin-left:5px;" id="result"> </div>
            </div>


            <div class="form-group " style="margin-top:10px;margin-left:450px">
                <input id="b1" type="button" class="  col-md-offset-3" value="Check Username" />
            </div>
                
           



            <div class="form-group " style="margin-top:10px; ">

                <label for="Password" class=" col-md-offset-3 col-md-2 control-label"> Password : </label>
                <input name="Password" type="password" class="  col-md-10 form-control">
            </div>

            <div class="form-group " style="margin-top:10px; ">

                <label for="FirstName" class=" col-md-offset-3 col-md-2 control-label"> First Name : </label>
                <input name="FirstName" type="text" class="  col-md-10 form-control">

            </div>


            <div class="form-group " style="margin-top:10px; ">

                <label for="LastName" class=" col-md-offset-3 col-md-2 control-label"> Last Name : </label>
                <input name="LastName" type="text" class="  col-md-10 form-control">
            </div>



            <div class="form-group " style="margin-top:10px; ">

                <label for="Phone" class=" col-md-offset-3 col-md-2 control-label"> Phone No : </label>
                <input name="Phone" type="number" class="  col-md-10 form-control">
            </div>

            <div class="form-group " style="margin-top:10px; ">

                <label for="City" class=" col-md-offset-3 col-md-2 control-label"> City : </label>
                <input name="City" type="text" class="  col-md-10 form-control">
            </div>

            <div class="row">
                <div class="col-md-6">
                    <button style="margin-top:10px" type="submit" id="check" class="btn btn-primary col-lg-push-11 col-md-4 "> Submit </button>
                </div>

            </div>







        </form>

        @* VALIDATION *@



        @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/jscript">


            $('#UserName').blur(function () {
                //alert("Checking");
                $('#b1').click(function(){
                    var url = "/SignUp/CheckUserName";
                    var name = $('#UserName').val();
                    $.get(url, { input: name }, function (data) {
                        if (data == "Available") {
                            $("#result").html("<div style='color:green;font-weight:bolder;margin-top:6px;font-size:large'> Available</div>");
                            $("#UserName").css('background-color', '');
                        }
                        else {
                            $("#result").html("<div style='color:red;font-weight:bolder;margin-top:6px;font-size:large'>Not Available</div>");
                            $("#UserName").css('background-color', '#e97878');
                        }
                    });
                })
            })
        </script>
        }



    </div>



    <br /> <br /> <br /> <br /><br /><br /><br />





</body>
</html>
