@{
    ViewBag.Title = "Contact Us";
}

<!DOCTYPE html>
<html lang="en">

<head>



    <title> ArtnDesign</title>



</head>

<body style="background-image:url('/Content/Images/background.jpg');background-size:cover">
    <h2 style="margin-top:120px;color:black">@ViewBag.Title</h2>
    <h3 style="color:black">@ViewBag.Message</h3>

    <address style="color:black;">
        Anarkali Lahore<br />
        PUCIT OLD CAMPUS POBOX -6399<br />
        <abbr title="Phone">P:</abbr>
        0900-78601
    </address>

    <address>
        <strong>Support:</strong>   <a href="#" style="color:black">bcsf12m030@pucit.edu.pk</a><br />
        <strong>Marketing:</strong> <a href="#" style="color:black ">bcsf12m030@pucit.edu.pk</a>
    </address>
</body>

</html>
