<!DOCTYPE html>
<html lang="en">

<head>



    <title> ArtnDesign</title>



</head>

<body style="background-image:url('/Content/Images/background.jpg');background-size:cover">


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/Content/Images/bg.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="site-heading col-md-push-4">
                        <h1> <b> <font size="32"> <p> <br />ArtnDesign</p></font> </b></h1>
                        <hr/> <style> hr { background-color: black; height: 1px; border: 0; } </style>
                        <span class="subheading">  <b> Where Art meets Art Lovers</b> <br /> <br /><br /><br /> <br /> </span>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                <div class="post-preview">
                    <h2 class="post-title">
                        <br />
                        A New Place of Digital Art Gallery
                    </h2>

                    <p class="post-meta"> <b> You can be a part of us right now :) </b> </p>
                </div>
                <hr>
                <div class="post-preview">

                    <h2 class="post-title">
                        A Perfect Place to display your Art
                    </h2>


                    <p class="post-meta"><b> If you are an Artist. </b> </p>
                </div>
                <hr>

                <div class="post-preview">

                    <h2 class="post-title">
                        The best place to Buy!
                    </h2>


                    <p class="post-meta"> <b> If you are an Art Lover. </b></p>
                </div>
                <hr>



            </div>

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading col-md-push-4">
                    <h1> <b> <font size="32"> <p> Join Us Right Now!</p></font> </b></h1>


                    @Html.ActionLink("SignIn", "Index", "SignIn", null, new { @class = "btn btn-primary btn-lg" })
                    @Html.ActionLink("SignUp", "Index", "SignUp", null, new { @class = "btn btn-info btn-lg" })
                    <p> <br />  <br /></p>
                </div>
            </div>

        </div>
    </div>

    

    <!-- Footer -->




</body>

</html>