@{
    
    Layout = "/Views/Shared/User_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>



    <title> ArtnDesign</title>



</head>

<body style="background-image:url('/Content/Images/background.jpg');background-size:cover">


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/Content/Images/bg.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="site-heading col-md-push-4">
                        <h1> <b> <br /><p style="font-size:60px;color:black">  Home </p> </b></h1>
                        
                        <p><strong>  Welcome @ViewBag.name :) </strong></p>
                        
                        <br /> <br /> <br /> <br /><br /><br />

                    </div>
                </div>
            </div>
        </div>
    </header>


    
    <div class=" row " style="margin-top:100px">

        <ul class="thumbnails">
            <li class="col-lg-2 col-lg-offset-1">
               
                
               
               
            </li>

            <li class="col-lg-3">
                <div class="thumbnail ">
                    <img src="~/Content/Images/WorldGallery.jpg" height="5000" width="5000">                  
                </div>

                <div class="text-center" style="margin-top:10px">
                    @Html.ActionLink("World Gallery", "Index", "WorldGallery", null, new { @class = "btn btn-danger btn-lg" })
                    </div>
            </li>


            <li class="col-lg-3">
                <div class="thumbnail">
                    <img src="~/Content/Images/AddPhoto.jpg">
                   
                </div>

                <div class="text-center" style="margin-top:10px">
                    @Html.ActionLink("Add an Art", "Index", "AddGallery", null, new { @class = "btn btn-success btn-lg" })
                </div>
            </li>

            </ul>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

</div>

         
    
    <br /> <br /> <br /> <br /><br /> <br /> <br /> <br />



</body>

</html>